body {
    background-image: url("https://images.pexels.com/photos/414660/pexels-photo-414660.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    font-family: 'Open Sans', sans-serif;
  }
  section {
  -webkit-box-shadow: 5px 9px 24px 9px rgba(254,254,254,0.77); 
  box-shadow: 5px 9px 24px 9px rgba(254,254,254,0.77);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-top: 100px;
    background-color: white;
    padding: 15px;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
  }
  
  section h1 {
    font-size: 20px;
    text-align: center;
  }
  
  header {
    background-image: url("https://pbs.twimg.com/profile_banners/1378034001236140033/1617383965/1080x360");
    background-size: cover;
    height: 80px;
    border-radius: 5px;
  }
  
  .principal {
    
    padding: 15px;
    border: 1px solid #cccccc;
    background-color: #F8F8FF;
    border-radius: 5px;
  }
  
  .principal li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  .principal li a:hover {
    color:#ff80bf;
  }
  
  .contato {
    text-align: center;
   }
  .contato a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  .contato a:hover {
    color:#ff80bf;
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(-50%);
    border: 8px solid white; 
  }